<h1> Super important Petition</h1>
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}

<form action="/" method="POST">
    <input name="first_name" required placeholder="First Name" />
    <input name="last_name" required placeholder="Last Name" />
    <input type="hidden" name="signature" value="data:image/png;base64,hello" />
    <button>Sign petition</button>
</form>