<h1> WE SAY NO!</h1>
<img id="guitarguy" src="/pictures/guitarguy2.png" />
<p>
    It begins with an E Minor Chord and ends in a headache. We all know the
    scenario of the smelly long haired dude finding (or even bringing!) an
    acoustic guitar to the party. You hear the first notes and immediately build
    up immense aggression. We don't know what Oasis thought when writing
    Wonderwall in 1995, but we doubt they wanted to create a tool for guys in
    plaid shirts to hit on girls. This is why we demand a permanent ban on every
    party worldwide for long haired guys playing Wonderwall. The eternal torment
    must end. If you feel the same, join our petition to make the world a better
    place.
</p>
{{#if error}}
    <p class="error">{{error}}</p>
{{/if}}

<form action="/" method="POST">
    <input id="sign_data" type="hidden" name="signature" />
    <canvas id="signature" width="400" height="200"></canvas>
    <button>Sign petition</button>
</form>

<script src="/canvas.js"></script>