<form action="/profile" method="POST">
    <input name="age" placeholder="Your Age" />
    <input name="city" placeholder="Your City" />
    <input name="homepage" placeholder="Your Homepage" />

    <button>create profile</button>

</form>

{{#if error}}
    <div>{{error}}</div>
{{/if}}