<h1> WE SAY NO!</h1>
<img id="guitarguy" src="/pictures/guitarguy2.png" />

<p>
    JOIN OUR PETITION TO INTERNATIONALLY BAN LONG HAIRED GUYS PLAYING WONDERWALL
    AT PARTYS

</p>

<form action="/register" method="POST">
    <input
        type="text"
        name="first_name"
        required
        placeholder="Enter First Name"
    />
    <input
        type="text"
        name="last_name"
        required
        placeholder="Enter Last Name"
    />
    <input type="email" name="email" required placeholder="Enter Email" />
    <input
        type="password"
        name="password"
        required
        placeholder="Enter password"
    />

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
    <button>Sign Up</button>
    <p>Already have an account?<a href="/login"> Login here!</a></p>
</form>