<h1>Register</h1>

<form action="/register" method="POST">
    <input
        type="text"
        name="first_name"
        required
        placeholder="Enter First Name"
    />
    <input
        type="text"
        name="last_name"
        required
        placeholder="Enter Last Name"
    />
    <input type="email" name="email" required placeholder="Enter Email" />
    <input
        type="password"
        name="password"
        required
        placeholder="Enter password"
    />

    {{#if error}}
        <p class="error">{{error}}</p>
    {{/if}}
    <button>Sign Up</button>
    <p>Already have an account?<a href="/login">Login here!</a></p>
</form>